header {
    border: 1px solid red;
    background-image: url('logo/fondoheader.jpg');
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
}

#logo {
    border: 1px solid green;
}

#navegacion {
    border: 1px solid red;
}

#navegacion li a {
    color: white;
}

#descripcionheader h1 {
    color: white;
}

#descripcionheader h5 {
    color: white;
}

#imagenheader {
    border: 1px solid violet;
}

#descripcionheader {
    border: 1px solid red;
}


/* despues del header */

#central {
    margin-top: 100px;
}

#des {
    border: 1px solid green;
}

#des2 {
    border: 1px solid green;
}

#tar1 {
    border: 1px solid green;
}

#tar12 {
    border: 1px solid red;
}

#tar12 a {
    color: black;
    text-decoration: none;
}

#tar2 {
    border: 1px solid violet;
}

#section1 {
    padding-bottom: 250px;
    background: #F8F8FF;
    border: 1px solid red;
}

#cont1 {
    margin-top: 150px;
}

#section2 {
    border: 1px solid green;
}

#cap,
#cap2 {
    border: 1px solid violet;
}